{% extends 'base.html' %}
{% load static %}
{% block title %} order form page {% endblock %}
{% block content %}
<form method="POST">
    {% csrf_token %}
    <div class="mb-3">
        <label class="form-label">Address</label>
        <textarea class="form-control" placeholder="Enter Address" name="a" rows="3"></textarea>
      </div>

    <div class="mb-3">
        <label class="form-label">Phone Number</label>
        <input type="text" class="form-control" name="p" placeholder="Enter Phone Number">
      </div>

    <div class="mb-3">
        <label class="form-label">Account Number</label>
        <input type="text" class="form-control" name="num" placeholder="Enter Account Number">
      </div>

    <div class="mb-3">
        <input type="submit" class="btn btn-primary" value="Submit">
      </div>

</form>

{% endblock %}


