{% extends 'base.html' %}
{% load static %}
{% block title %} sign up {% endblock %}
{% block content %}
  <div class="container">
    <h1>Sign Up</h1>

    <form method="POST">
      {% csrf_token %}
      <div class="mb-3">
        <label class="form-label">User Name</label>
        <input type="text" class="form-control" name="u" placeholder="Enter username">
      </div>

      <div class="mb-3">
        <label class="form-label">First Name</label>
        <input type="text" class="form-control" name="f" placeholder="Enter firstname">
      </div>

      <div class="mb-3">
        <label class="form-label">Last Name</label>
        <input type="text" class="form-control" name="l" placeholder="Enter lastname">
      </div>

      <div class="mb-3">
        <label class="form-label">Email</label>
        <input type="email" class="form-control" name="e" placeholder="Enter email">
      </div>

      <div class="mb-3">
        <label class="form-label">Password</label>
        <input type="password" class="form-control" name="p" placeholder="Enter password">
      </div>

      <div class="mb-3">
        <label class="form-label">Confirm Password</label>
        <input type="password" class="form-control" name="cp" placeholder="Enter confirm password">
      </div>

      <div class="mb-3">
        <input type="submit" class="btn btn-primary" value="Submit">
      </div>
    </form>
  </div>
{% endblock %}
